@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap");

.anek-bangla-font {
  font-family: "Anek Bangla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.banner-background {
  background: linear-gradient(
    90deg,
    rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
}
